.App {
  width: 300px;
  height: 600px;
  border-radius: 20px;
  padding: 20px;
  background-color: black;
  color: white;
  position: relative;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.top {
  height: 25px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
}

.previous {
  font-size: 50px;
  margin-bottom: 10px;
  text-align: right;
  min-height: 65px;
}

.display {
  font-size: 90px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: right;
  min-height: 130px;
  max-height: fit-content;
}

.buttons {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.bottom {
  position: absolute;
  width: 150px;
  height: 5px;
  background: white;
  bottom: 10px;
  left: 50%;
  border-radius: 4px;
  transform: translateX(-50%);
}
